/* Estilos generales */
.home-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Sección Hero */
.hero-section {
    padding: 100px 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Sección de Introducción */
.intro-section {
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.intro-section h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

.intro-section p {
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 15px;
}

/* Sección de tests */
.tests-section {
    margin-top: 20px;
}

.tests-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.tests-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.test-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.test-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.test-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.test-card p {
    font-size: 1rem;
    color: #666;
}

/* Sección de quizzes */
.quizzes-section {
    margin-top: 20px;
}

.quizzes-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.quizzes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.quiz-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.quiz-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.quiz-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.quiz-card p {
    font-size: 1rem;
    color: #666;
}